body {
	text-align: center;
	background: red;
}

#left_background {
	background: lightgray;
	height: 450px;
	width: 475px;
	float: left;
	border-radius: 15px;

}

#right_background {
	background: lightgray;
	float: right;
	height: 450px;
	width: 475px;
	border-radius: 15px;

}



.pokemon {
	display: inline-block;
	height: 440px;
	width: 465px;
	overflow: scroll;
	border-radius: 15px;
}

.child-pokemon:hover {
 	 color: yellow;
}
.child-pokemon:visited {
  	text-decoration: underline;
}

.favorite_box {
	position: static;
	margin-top: 20%;
}
