body {
	text-align: center;
	background: red;
}

#left_background {
	background: lightgray;
	height: 450px;
	width: 475px;
	float: left;
}

#right_background {
	background: lightgray;
	float: right;
	height: 450px;
	width: 475px;

}



.pokemon {
	display: inline-block;
	height: 445px;
	width: 465px;
	overflow: scroll;

}

.pokemon:focus {
  color: yellow;
}

.favorite_box {
	position: relative;
	margin-top: 45%;
}
